body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
}

header {
  background-color: #002a5e;
  color: white;
  padding: 20px;
  text-align: center;
}

main {
  padding: 10px;
}

.producto {
  background: white;
  margin: 10px auto;
  padding: 15px;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.producto select, .producto input {
  padding: 5px;
  margin: 5px 0;
}

#carrito {
  background-color: #e0f7fa;
  padding: 20px;
  text-align: center;
}

footer {
  background-color: #002a5e;
  color: white;
  text-align: center;
  padding: 10px;
}
