
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
    color: #000;
}
header {
    background: #000;
    text-align: center;
}
.logo {
    width: 100%;
    max-width: 100%;
    height: auto;
}
main {
    padding: 20px;
}
footer {
    background: #000;
    color: white;
    text-align: center;
    padding: 10px 0;
}
.producto {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.whatsapp-button {
    position: fixed;
    bottom: 15px;
    right: 15px;
    background: #25d366;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.login-container {
  max-width: 400px;
  margin: 40px auto;
  background: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
}
.login-container input, .login-container select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.carrito-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  background: #333;
  color: white;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
}
.carrito-btn:hover {
  background: #444;
}

.logout-btn {
  position: fixed;
  top: 10px;
  left: 10px;
  background: crimson;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
}
.logout-btn:hover {
  background: darkred;
}
